body{
    background-image: url('./BGIMG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.first-section{
    display: flex;
    justify-content: space-between;
}
.cards1{
  border: 7px solid red;
  border-radius: 35px;
  height: 150px;
  width: 350px;
  font-weight: bold;
  font-style: italic;
  font-size: xx-large;
  background-color: black;
  color: white;
  padding-left: 23px;
}
.cards2{
  font-weight: lighter;
  font-style: italic;
  font-size: xx-large;
  border: 7px solid red;
  border-radius: 35px;
  height: 80px;
  width: 480px;
  margin-left: -250px;
  margin-top: 10px;
  padding-left: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: self-end;
  justify-content: space-around;
}
.cards3{
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
  height: 150px;
  width: 400px;
  border: 7px solid red;
  border-radius: 35px;
  background-color: black;
  color: white;
}

/* second section  */
.second-section{
    display: flex;
}
.offers-cards{
    height: 430px;
    width: 430px;
    border: 7px solid grey;
    border-radius: 50%;
    background-color: rgb(70, 160, 160);
    margin-top: 200px;
    padding: 100px;
}
.form-card{
    border: 5px dotted #222f3f;
    width: 150%;
    height: 100%;
    text-align: center;
}
.heading-text{
    text-align: center;
    color: red;
}
.lbl_name{
    color: red;
    font-weight: 500;
    
}

#menu{
  font-weight: bold;
  font-size: xx-large;
  font-style: italic;
  text-transform: uppercase;
  height: 100px;
  width: 500px;
  border: 7px solid red;
  border-radius: 35px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 490px;
  margin-top: 30px;
}

.menu1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  color: darkblue;
}

.box1{
  border: 3px solid darkgreen;
  border-radius: 35px;
  background-color: aqua;
  width: 25%;
}

.food{
  font-size: xx-large;
  font-weight: bold;
  margin-left: 100px;
}

li {
  margin-left: 100px;
  font-size: larger;
}

.menu2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  color: darkblue;
}

.box2{
  border: 3px solid darkgreen;
  border-radius: 35px;
  background-color: aqua;
  width: 25%;
}
